@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 48px 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px; /* 1240 + padding 24*2 = 1288*/
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header-container {
  display: flex;
  gap: 40px;
  background-color: #465929;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: url("../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages section */
.advantages-section {
  padding: 16px;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.traditions-content {
  max-width: 710px;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-title {
  margin-bottom: 42px;
}

/* Chef section */
.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-title::before {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chefs-title::after {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

/* Formats section */
.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-weight: 600;
  font-size: 24px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.format-card {
  border-radius: 16px;
  border: 1px solid lightgray; /* remove */
  height: 444px;
  padding: 20px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0%0;
  border-radius: 50%;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Footer */
.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-brand-normal);
}

.address-icon:hover {
  fill: var(--color-primary-light);
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacts section */
.contacts-title {
  margin-bottom: 16px;
}

.contacts-map {
  width: 100%;
  max-width: 603px;
}
