* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 5px solid rebeccapurple;
  margin: 10px;

  /* padding: 16px 42px; */
  /* text-align: center; */
  /* margin: 0 auto; */
}

/* .box:last-child {
  background-color: yellowgreen;
}

.box:first-child {
  background-color: honeydew;
}

.box:not(:first-child) {
  background-color: brown;
}

.box:nth-child(3),
.box:nth-child(4) {
  background-color: saddlebrown;
} */

.box:nth-child(2n + 4) {
  /* 3, 5, 7....*/
  background-color: saddlebrown;
}
