* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item {
  flex-basis: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 5px solid rebeccapurple;
  margin: 10px;
}

.item:nth-child(2) {
  margin-bottom: 35px;
}

.item:nth-child(3) {
  margin-top: 80px;
}
