* {
  box-sizing: border-box;
}

.container {
  padding: 30px;
  border: 1px solid pink;
}

.parent {
  padding: 20px;
  border: 1px dotted black;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  position: relative;
  top: 20px;
  left: 30px;
  z-index: 3;
  color: white;
}

.item.green {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: green;
  z-index: 2;
}

.item.blue {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: blue;
  z-index: 1;
}

.section-title {
  background-color: burlywood;
  position: sticky;
  top: 0;
}
