@import "./utils/fonts";
@import "./utils/variables";
@import "./base";
@import "./utils/utils";

@import "./components/buttons";
@import "./components/header";
@import "./components/hero-section";
@import "./components/links";

@import "./utils/mixins";

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px; /* 1240 + padding 24*2 = 1288*/
  margin: 0 auto;
  padding: 0 24px;
}

.circle {
  @include circle(100px, 100px, #fff);
}

.circle-big {
  @include circle(200px, 200px, green);
}

@import "./components/advantages-section";
@import "./utils/section-common";
@import "./components/traditions-section";
@import "./components/chefs-section";
@import "./components/formats-section";
@import "./components/carousel";
@import "./components/footer-section";
@import "./components/contacts-section";
@import "./components/modal";
@import "./components/form";
