:root {
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a28268;
}
