.carousel-button {
  display: none;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  padding: 0;
  border-radius: 50%;
  fill: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
  }

  &:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
  }

  &.next {
    transform: rotate(180deg);
  }
}
