.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  bottom: 24px;
  position: absolute;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}
