.form-field {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  width: 100%;
  padding: 16px 42px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.17;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  max-width: 220px;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: red;
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid var(--color-primary-light);
  border-radius: 2px;
} */
