.chefs-section {
  &__title {
    margin: 0 auto 80px;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 352px;
      border: 2px solid var(--color-brand-light);
      bottom: 24px;
      position: absolute;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
