.contacts-section {
  padding: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__terms {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__map {
    margin: 0 -24px;
    height: 176px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;

    @media screen and (min-width: $bp-tablet) {
      width: 320px;
      height: 500px;
      margin: auto;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }
}
