.footer {
  position: relative;
  padding: 32px;
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::before {
  background-image: url("../images/decor-bread-left.png");
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url("../images/decor-bread-right.png");
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-link {
  display: inline-block;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}
