.footer {
  position: relative;
  padding: 32px;
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
  }

  &::before {
    background-image: url("../images/decor-bread-left.png");
    width: 180px;
    height: 120px;
    left: 0;
  }

  &::after {
    background-image: url("../images/decor-bread-right.png");
    width: 380px;
    height: 190px;
    right: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__list,
  &__info {
    flex-grow: 1;
  }

  &__link {
    display: inline-block;
  }

  &__address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-normal);
    }
  }

  &__address-copyright {
    font-size: 14px;
  }
}
