.formats-section {
  &__title {
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
