.input {
  &__label {
    display: block;
  }

  &__control {
    width: 100%;
    padding: 16px 42px;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.17;
    background-color: transparent;

    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }

    &::placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
